@model IEnumerable<TP1.Models.Film>

<div class="container">
    <div class="row">
        @foreach (var film in Model)
        {
            string colorClass = film.DateSortie.Year <= 2012 ? "bg-secondary" : "";

            <div class="col-md-6">
                <div class="card m-3">
                    <a style="text-decoration: none" href="@Url.Action("Details", "Films", new { id = film.FilmId })">
                        <div class="row g-0 @colorClass">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="@film.CheminImage" class="img-fluid rounded-start" alt="Image de film" style="object-fit: contain;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@film.Titre</h5>
                                    <p class="card-text">Date de sortie : @film.DateSortie.Year</p>
                                    <p class="card-text">Catégorie : @film.Categorie</p>
                                    <p class="card-text">Budget : @film.BudgetRealisation $</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
